.projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(45vw, 1fr));
}