.about {
    padding: 2rem;
    margin-bottom: 1.5rem;
}

.about-text {
    padding: 2rem;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;
    object-position: top center;
    border-radius: .5rem;
}