.about {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.about-grid {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(471px, 1fr));
    width: 992px;
}

.about-text {
    padding: 2rem;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;
    object-position: top center;
    border-radius: .5rem;
}