.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    border: none;
    background-color: var(--lightblue);
    color: var(--bg);
    border-radius: .5rem;
    font-size: 1.1rem;
    padding: .7rem;
    margin: .5rem;
    color: var(--bg);
    width: 30vw;
    outline: none;
}

.msg {
    min-width: 30vw;
    max-width: 30vw;
    min-height: 10vh;
    margin-bottom: 1rem;
} 

