.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(471px, 1fr));
    width: 992px;

}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}