.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    height: 15vh;
}

.logo {
    color: var(--lightblue);
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}

.logo:hover {
    color: var(--pastel);
}

.navigation {
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
}

.list {
    display: flex;
    flex-direction: row;
}

.link {
    cursor: pointer;
    color: var(--lightblue);
    margin: 0 10px;
    font-weight: 600;
}

.link:hover {
    color: var(--pastel);
}
