@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;500;600;700&display=swap');

:root {
  --white: #ffff;
  --black: #0000;

  --bg: #0b0c10;
  --gray: #1f2833;
  --pastel: #c5c6c7;
  --lightblue: #66fcf1;
  --green: #45a29e;

  --transition:all .3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: .7vw;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, var(--lightblue));
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg);
  
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, var(--pastel));
}

.App {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: var(--lightblue)
}

a {
  text-decoration: none;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  padding: 0 0 2.5rem 0;
}

.btns-container {
  margin-top: 1rem;
}

.btn {
  margin-right: 2rem;
  font-family: 'Roboto Slab', sans-serif;
  padding: .7rem;
  border: 2px solid var(--lightblue);
  border-radius: .5rem;
  font-weight: 600;
  font-size: 1rem;
  color: var(--lightblue);
  background-color: var(--bg);
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  color: var(--bg);
  border: 2px solid var(--bg);
  background-color: var(--lightblue);
}